* {
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

*:focus {
  outline: none;
}

.preload {
  /* display: none; */
}

body {
  min-width: 360px;
  margin-bottom: 9.5vw;
  max-width: 1920px;
}

img {
  display: block;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.search__Container {
  display: flex;
  height: 7.8125vw;
  max-height: 59.53px;
  position: absolute;
  top: 2vw;
  right: 2vw;
}

.search__Container__Input {
  height: 35px;
  font-size: 15px;
  max-height: 59.53px;
  width: 15vw;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  padding: 0 10px;
  border: 1px solid #313538
}

.search__Container__Img {
  width: 6vw;
  height: auto;
  max-width: 59.53px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo__Img {
  width: 42vw;
  max-width: 320px;
  height: auto;
  margin: 2vw auto 3vw auto;
  cursor: pointer;
}

.cartAndMember__Container {
  width: 100%;
  background-color: #313538;
  color: #fff;
  font-size: 2.5vw;
  line-height: 10vw;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  z-index: 10;

}

.cartAndMember__Container a {
  color: #fff;
}

.cartAndMember__Container img {
  width: 4vw;
  height: 4vw;
  margin-top: auto;
  margin-bottom: auto;
}

.cartAndMember__Container__Cart,
.cartAndMember__Container__Member {
  display: flex;
  position: relative;
}

.cartAndMember__Container__Cart__Amount {
  position: absolute;
  color: red;
  left: 2.2vw;
  top: 5px;
  font-weight: 900;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #313538;
  font-size: 16px;
}

.nav a,
.nav li {
  color: #828282;
  font-size: 3.5vw;
  line-height: 10vw;
}

.nav a:hover {
  color: #ffffff;
}


.cart__Container__HR {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-bottom: 10px;
}


.cart__Container__Sub {
  width: 90vw;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.cart__Container__Sub__Total {
  position: relative;
  font-size: 14px;
  color: #3f3a3a;
}

.cart__Container__Title {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cart__Container__Sub__Top__Img img {
  width: 32vw;
  margin-right: 3vw;
  max-width: 114px;
}

.cart__Container__Sub__Top {
  margin-bottom: 21px;
  display: flex;
}

.cart__Container__Sub__Top__Words {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart__Container__Sub__Middle {
  padding-right: 1vw;
  padding-left: 1vw;
  margin-bottom: 3.3vw;
  display: flex;
  justify-content: space-between;
}

.cart__Container__Sub__Bottom {
  display: flex;
  justify-content: space-between;
}

.cart__Container__Sub__bottom__Price {
  line-height: 30px;
}

.cart__Container__Sub__bottom__Total {
  line-height: 30px;
}

.cart__Container__Sub__bottom__Amount__Select {
  height: 30px;
  width: 80px;
}

.cart__Container__Sub__bottom__Delete {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.cart__Container__Sub__Bottom {
  margin-bottom: 5.5vw;
}

.cart__Container__Sub__Bottom__Hr {
  height: 1px;
  width: 90vw;
  background-color: #000;
  margin-bottom: 5.5vw;
}


.cart__Container__Sub__Delivery {
  background-color: #eee;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.cart__Container__Sub__Delivery__Country {
  margin-bottom: 10px;
}

.cart__Container__Sub__Delivery__Select {
  font-size: 15px;
  width: 100%;
  height: 8vw;
  max-height: 30px;
  margin-bottom: 20px;
}

.cart__Container__Sub__Pay {
  margin-bottom: 10px;
}

.cart__Container__Sub__Pay__Select {
  font-size: 15px;
  width: 100%;
  height: 8vw;
  max-height: 30px;
  margin-bottom: 10px;
}

.cart__Container__Sub__Notes {
  margin-bottom: 20px;
  line-height: 26px;
}

.cart__Container__Sub__Order__Hr {
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.cart__Container__Sub__Order__Title {
  font-size: 16px;
  color: #3f3a3a;
  margin-bottom: 10px;
}

.cart__Container__Sub__Order__Email__T,
.cart__Container__Sub__Order__Address__T,
.cart__Container__Sub__Order__Phone__T,
.cart__Container__Sub__Order__Name__T {
  margin-bottom: 10px;
}

.cart__Container__Sub__Order__Input__Email,
.cart__Container__Sub__Order__Input__Name,
.cart__Container__Sub__Order__Input__Phone,
.cart__Container__Sub__Order__Input__Address {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: solid 1px #979797;
}

.cart__Container__Sub__Order__Input__Name {
  margin-bottom: 6px;
}

.cart__Container__Sub__Order__Input__Email,
.cart__Container__Sub__Order__Input__Address,
.cart__Container__Sub__Order__Input__Phone {
  margin-bottom: 20px;
}

.cart__Container__Sub__Order__Time__T {
  line-height: 1.86;
  margin-bottom: 10px;
}

.cart__Container__Sub__Order__Time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart__Container__Sub__Order__Time__Hr {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-bottom: 24px;
}



.tpfield {
  height: 40px;
  width: 300px;
  border: 1px solid gray;
  margin: 5px 0;
  padding: 5px;
}

.checkOutToTal__CreditCard {
  width: 300px;
  margin: 0 auto;
}

.submitButton {
  width: 200px;
  height: 70px;
}













.cart__Container__Sub__Checkout {
  width: 56vw;
  max-width: 240px;
  margin-left: auto
}

.cart__Container__Sub__Checkout__All__Container,
.cart__Container__Sub__Checkout__Shippting__Container,
.cart__Container__Sub__Checkout__Total__Container {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.cart__Container__Sub__Checkout__Total__Container,
.cart__Container__Sub__Checkout__Shippting__Container {
  margin-bottom: 20px;
}

.cart__Container__Sub__Checkout__Shipping__Hr {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  margin-top: 24px;
  background-color: #000;
}

.cart__Container__Sub__Checkout__All__Container {
  margin-bottom: 36px;
}

.NT__Container {
  display: flex;
}

.NT {
  font-size: 16px;
  margin-right: 10px;
}

.cart__Container__Sub__Checkout__Total,
.cart__Container__Sub__Checkout__Shipping,
.cart__Container__Sub__Checkout__All {
  font-size: 30px;
}


.payButton {
  display: block;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  height: 44px;
  background-color: #000;
  color: #fff;
  line-height: 44px;
  text-align: center;
  margin-bottom: 28px;
}


















footer {
  background-color: #313538;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 11vw;
  padding-right: 11vw;
  height: 148px;
}

.footer__Info {
  width: 46vw;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 40px;
}

.footer__Info a {
  color: #f5f5f5;
  margin-left: 10px;
}

.footer__Connect img {
  width: 5.6vw;
  height: 5.6vw;
  max-width: 30px;
  max-height: 30px;
}

.footer__Connect {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.footer__Copyright {
  margin: 0 auto;
}

.noneOnMobile {
  display: none;
}

@media screen and (min-width:480px) {
  .cart__Container__Sub__Total {
    font-size: 18px;
  }

}

@media screen and (min-width:660px) {
  .checkOutToTal {
    display: flex;
    flex-wrap: nowrap;
  }

  .checkOutToTal__CreditCard {
    margin: 0;
    margin-bottom: 20px;
  }
}


@media screen and (min-width:720px) {
  body {
    margin-bottom: 70px;
    ;
  }

  .nav li,
  .nav a {
    line-height: 70px;
    font-size: 26.6px
  }

  .cartAndMember__Container {
    line-height: 70px;
  }



}

@media screen and (min-width:1080px) {
  body {
    margin-bottom: 0px;
  }

  .noneOnMobile {
    display: block;
  }

  .noneAbove1080 {
    display: none;
  }

  .nav__cartAndMember__Container1080 {
    display: flex;
    position: absolute;
    right: 2vw;
    top: 13px;
  }

  .nav__cartAndMember__Container1080 img {
    width: 44px;
    height: 44px;
  }

  .nav__cartAndMember__Container1080__Div {
    position: relative;
  }

  .nav__cartAndMember__Container1080__Amount {
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }

  .header__Container__1080 {
    display: flex;
    padding-left: 3.2vw;
  }

  .logo__Img {
    width: 258px;
    height: 48px;
    margin: auto 2vw auto 0px;
  }

  .nav {
    background-color: #fff;
    font-size: 16px;
    width: 30vw;
  }

  .nav a:hover {
    color: #8b572a;
  }

  .nav a,
  .nav li {
    color: #828282;
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 20px;
  }

  .search__Container {
    display: flex;
    height: 48px;
    position: absolute;
    top: 11px;
    right: 10vw;
  }

  .search__Container__Img {
    width: 44px;
    margin: 2px;
    height: auto;
    position: absolute;
    right: 0;
  }

  .search__Container__Input {
    padding-right: 38px;
  }

  .cart__Container__Sub__Main {
    margin-top: 47px;
  }

  .cart__Container__Title {
    margin-top: 51px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }

  .cart__Container__Title__Right {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    max-width: 700px;
  }

  .cart__Container__Title__Right p:not(:last-child) {}

  .cartAndMember__Container {
    position: relative;
    width: 100%;
    height: 2.1vw;
  }

  .cart__Container__Sub__Bottom {
    width: 50vw;
    max-width: 700px;
    margin-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .cart__Container__Sub__Bottom * {
    line-height: 44px;
  }

  .cart__Container__Sub__Total {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .cart__Container__Sub__bottom__Delete {
    position: relative;
  }


  .product_All {
    border: 1px solid black;
    padding: 40px 40px 20px 30px;
    margin-bottom: 26px;
  }

  .cart__Container__Sub__Delivery {
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    display: flex;
  }

  .cart__Container__Sub__Delivery__Country {
    margin-bottom: 0px;
    margin-right: 37px;
  }

  .cart__Container__Sub__Delivery__Select {
    width: 171px;
    margin-bottom: 0px;
    margin-right: 82px;
  }

  .cart__Container__Sub__Pay {
    margin-bottom: 0px;
    margin-right: 37px;
  }

  .cart__Container__Sub__Pay__Select {
    width: 171px;
    margin-bottom: 0px;
    margin-right: 82px;
  }

  .cart__Container__Sub__Notes {
    margin-bottom: 50px;
    line-height: 26px;
  }

  .info__All {
    max-width: 684px;
    ;
  }

  .notes {
    text-align: right;
  }

  .payButton {
    width: 56vw;
    max-width: 240px;
    margin-right: 0px;
    margin-left: auto;
  }

  .cart__Container__Sub__Order__Input__Email,
  .cart__Container__Sub__Order__Input__Name,
  .cart__Container__Sub__Order__Input__Phone,
  .cart__Container__Sub__Order__Input__Address {
    width: 70%;
  }

  .info__All__Each {
    display: flex;
    justify-content: space-between;
  }

  .cart__Container__Sub__Order__Time__Each {
    margin-right: 30px;
  }



  footer {
    justify-content: space-around;
    padding: 0 10vw;
  }


  .footer__Info {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    line-height: 148px;
  }

  .footer__Connect {
    width: 12vw;
    margin-left: 10px;
  }

  .footer__Connect img {
    width: 2.2vw;
    height: 2.2vw;
    max-width: 44px;
    max-height: 44px
  }


  .footer__Copyright {
    margin: 0 0 0 2vw;
    line-height: 148px;
  }
}

@media screen and (min-width:1280px) {}

.outOfStockSize {
  display: none;
}

.outOfStockColor {
  display: none;
}

.payButton {
  cursor: pointer;
}

.product_All__P {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: red;
}